html {
	background-color: #f5f5f5;
}

body {
	background-color: #f5f5f5;
}

.container-fluid {
	background-color: #f5f5f5;
}

.title-page {
	height: 100vh;
	display: flex;
	padding-top: 2rem;
	background-image: url('/assets/65%.jpg');
	background-size: cover;
	font-weight: 500;
	font-size: 1rem;
}

.title-page-inner {
	display: flex;
	position: relative;
	height: 100%;
	flex-direction: column;
}

.heading {
	text-align: center;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 15%;
}

.about p {
	width: 50%;
	margin-top: 2rem;
}

.services {
	height: 70vh;
	padding-top: 2rem;
	background-color: #f5f5f5;
}

.services-inner {
	display: flex;
	margin-left: 20%;
}

.service-list {
	width: 40%;
	margin-left: 10%;
}

.no-bullet {
	list-style-type: none;
}

.contact {
	margin-left: 20%;
	height: 30vh;
}

.rates {
	margin-top: 3rem;
	margin-left: 20%;
	margin-bottom: 5rem;
	height: auto;
}

@media (max-width: 800px) {
	.services-inner {
		display: block;
		left: 0;
	}
	.service-list {
		width: auto;
		margin: 1rem 0;
	}
	.about p {
		width: auto;
	}
	.services-inner {
		margin: auto;
	}
	.contact {
		margin: auto;
	}
	.rates {
		margin: auto;
	}
}
