html {
	background-color: #f5f5f5;
	font-family: 'Raleway', sans-serif;

}

body {
	background-color: #f5f5f5;
	font-family: 'Raleway', sans-serif;
}

.container-fluid {
	font-family: 'Raleway', sans-serif;
}


.container-fluid {
	background-color: #f5f5f5;
}

.title-page {
	display: flex;
	padding-top: 2rem;
	background-image: url('./assets/photo-1454117096348-e4abbeba002c.png');
	background-size: cover;
	font-weight: 500;
	font-size: 1rem;
}

.title-page-inner {
	position: relative;
	height: 100%;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 5rem;
}

.about p {
	width: 50%;
	margin-top: 2rem;
	text-align: center;
}

.services {
	background-color: #f5f5f5;
	display: flex;
	margin-top: 2rem;
}

.services-inner {
	width: 50%;
}

.services-inner h4 {
	text-align: center;
	font-weight: 600;
}

.no-bullet {
	list-style-type: none;
}

.contact {
	padding-top: 1rem;
	background-color: #c4c4c4;
	text-align: center;
}

.contact h4 {
	font-weight: 600;
}

.rates {
	width: 50%;
}

.rates h4 {
	text-align: center;
	font-weight: 600;
}

.img-wrapper {
	display: flex;
	width: auto;
	margin: auto 35%;
	align-items: center;
	justify-content: center;
	padding-bottom: 3rem;
}

.bullet {
	margin-top: 1rem;
}

.images {
	margin-left: 1rem;
}

.images img {
	height: auto;
	width: 400px;
	margin: 1rem;
}

.partners {
	height: auto;
	margin: 2rem 0;
}

.partners .heading-hr {
	width: 10%
}

.partner-logos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.partner-logos img {
	height: 150px;
	width: auto;
	margin: 0 2rem;
	transition: 0.5s;
}

.partners h4 {
	text-align: center;
	font-weight: 700;
}

.heading-hr {
	border-top: 2px solid #c4c4c4;
	width: 30%;
}

.partner-logos img:hover {
	transform: scale(1.2);
}

#ecom {
	height: auto;
	width: 200px;
}

#title-logo {
	width: 50%;
	height: auto;
}

#nav-img {
	margin-left: 5px;
	width: 25px;
	height: auto;
}

@media (max-width: 800px) {
	.services {
		display: block;
		left: 0;
	}
	.services-inner {
		width: 90%;
	}
	.rates {
		width: 90%;
	}
	.service-list {
		width: auto;
		margin: 1rem 0;
	}
	.about p {
		width: auto;
	}
	.services-inner {
		margin: auto;
	}
	.contact {
		margin: auto;
	}
	.rates {
		margin: auto;
	}
	.partner-logos {
		display: flex;
		flex-wrap: wrap;
	}
	.partner-logos img:hover {
		transform: none;
	}

	.partner-logos img {
		width: 70px;
		height: auto;
		margin: 1rem;
	}

	.images img {
		width: 70px;
		height: auto;
	}
}

@media (max-width: 1799px) {
	.images img {
		height: auto;
		width: 300px;
	}
}

@media (max-width: 1399px) {
	.images img {
		height: auto;
		width: 200px;
	}
}
